<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @invoice.customer_name %>
</p>

<p>
  <strong>Customer phone:</strong>
  <%= @invoice.customer_phone %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @invoice.customer_email %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice.invoice %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%=  %>
</p>

<p>
  <strong>Product:</strong>
  <%= @invoice.product %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @invoice.rate %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoice.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
