<div class="row" style="margin-top:8%">
  <div class="col-lg-2"></div>
  <div class="col-lg-1 col-temp">
    <div class="jumbotron" style="background-color:#606060; height:318px">
      <button type="button" class="btn btn-yellow col-lg-12" onclick="location.href='/products';"> Products </button>
      <button type="button"  class="btn btn-transparent col-lg-12" onclick="location.href='/invoices';"> Invoices </button>
    </div>
  </div>
  <div class="col-lg-7 col-temp">
    <div class="jumbotron">
      <div class="">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <ol class="breadcrumb">
              <li><a href="/products">Products</a></li>
              <li>Create Product</li>
            </ol>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <%= form_for(@product) do |f| %>
              <% if @product.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
                  <ul>
                    <% @product.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= f.label :product_name %><br>
                <%= f.text_field :product_name %>
              </div>
              <div class="field">
                <%= f.label :rate %><br>
                <%= f.text_field :rate %>
              </div>
              <div class="actions">
                <button type="submit"  class="btn btn-success">Create Product</button>
              </div>
            <% end %>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>